<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EI Test Suite">
	<test name="Sanity Tests" preserve-order="true">
		<classes>
			<class name="com.ghali.automation.test.SanityTest">
				<methods>
					<include name="TestCity" />
					<include name="TestCityState" />
					<include name="TestCitySatatePincode" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->